html,body{
    height: 100vh;
    width: 100vw;
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 80vh;
    padding: 10px 40px;
    background: url("./images/desktop/image-header.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 20px;
    
}
.links a:hover{
    border-radius: 20px;
    background-color: rgb(241, 238, 233);
    padding: 10px 20px;
    color: black;
    position: relative;
    text-transform: uppercase;
    font-family: 'Cormorant Garamond', serif;
}
.hamburger{
    display: none;
}
.mobile-links{
    display: none;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero h1{
    font-size: 60px;
    margin: 40px 0px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-template-rows: 460px;
}
.text-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: white;
    text-align:left;
    margin: 0 auto;
    justify-content: center;
}
.text-container h2{
    font-size: 42px;
    letter-spacing: 2px;
    width: 350px;
}
.text-container p {
    font-size: small;
    color: rgb(80, 88, 88);
    font-weight: bold;
    letter-spacing: .5px;
    line-height: 18px;
    width: 350px;
}
.img-container{
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.graphic-design{
    background-image: url("./images//desktop//image-graphic-design.jpg");
   
}
.photography{
    background-image: url("./images//desktop//image-photography.jpg");
}
.gph-pht{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    padding: 40px;
}
.gph-pht h2{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: .8px;
    font-family: 'Cormorant Garamond', serif;
}
.gph-pht p {
    width: 350px;
    margin: 0 auto;
    line-height: 22px;
}
.testimonial-wrapper{
    padding: 50px;
    text-align: center;
}
.testimonial-wrapper h1{
   color: #70beae;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin: 10px 0px;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}
.testimonials div{
    width: 300px;
}
.testimonials img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.testimonials div p:nth-child(2){
    margin: 20px 0px;
    line-height: 25px;
    color:#273f39;
}
.testimonials div p:nth-child(3){
    font-weight: bold;
}
.testimonials div p:nth-child(4){
    font-weight: lighter;
    font-size: 12px;
    margin: 10px 0px;
    color: #70beae;
}
.sweetest{
    display: flex;
    flex-wrap: wrap;
}
.sweetest img{
    width: 25vw;
}
footer{
    background-color: #70beae;
    padding: 50px;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-wrapper div:nth-child(2){
    display: flex;
    gap: 50px;
    margin: 30px 0px;
}
.footer-wrapper div:nth-child(3){
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

.footer-wrapper a{
    text-decoration: none;
    color: #26413b;
    font-size: 14px;
}
.footer-wrapper p {
    font-size: 12px;
    color: #172523;
}
@media(max-width:530px){
.links{
    display: none;
}
.hamburger{
    display: flex;
}
.hero h1{
    font-size: 45px;
    text-align: center;
}
nav{
    position: relative;
}
.mobile-links{
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    position: absolute;
    background: white;
    top: 40px;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
}
.mobile-links a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.container .img-container:nth-child(2){
    order: -1;
}
.text-container{
    padding: 70px 10px;
    margin: 0;
    width: 100vw;
}
.text-container h2{
    font-size: 30px;
}
.img-container{
    width: 100vw;
}
.sweetest img{
    width: 50vw;
}
.gph-pht{
    width: 100vw;
}
}